[user]
	email = rodrigo46.dev@gmail.com
	name = rodrigoaraujo46
[init]
	defaultBranch = main
[url "git@github.com:rodrigoaraujo46/"]
    insteadOf = me:
[merge]
	tool = nvimdiff
[diff]
	tool = nvimdiff
[mergetool]
	prompt = false
	trustExitCode = true
[difftool]
	trustExitCode = true
