*

!.gitconfig
!.gitignore
!.scripts/
!.scripts/**
!.wallpapers/
!.wallpapers/**
!.config/
!.config/i3/
!.config/i3/**
!.config/nvim/
!.config/nvim/**
!.config/rofi/
!.config/rofi/**
!.config/ghostty/
!.config/ghostty/**
!.config/polybar/
!.config/polybar/**
!.config/picom/
!.config/picom/**
