* {
    foreground:           #e0def4;
    selected-foreground:  black;

    background:           #1f243aa0;
    background-solid:     #232136;

    selected-background: #c4a7e7;
    unselected-background:  #2a273f;
}
